@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="LayoutLinks">Επεξεργασία προϊόντων</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-gear"></i>&nbsp; Προσθήκη προϊόντος
            </a>
        </div>
    </div>
    <br /><br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thed>
            <tr>
                <th class="centerText"><b>Product Name</b></th>
                <th class="centerText"><b>Product Description</b></th>
                <th class="centerText"><b>Product Price</b></th>
                <th class="centerText"><b>Επεξεργασία</b></th>
            </tr>
        </thed>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="35%">@obj.Name</td>
                    <td width="35%">@obj.Descr</td>
                    <td width="30%">@obj.Price</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>Επεξεργασία
                            </a>

                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i>Διαγραφή
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
